/* Moblie & tablet */
@media screen and (max-width: 1023px) {
    
    #header{
        height: 86px;
        display: flex;
        align-items: center;
        position :fixed;
        z-index: 5;
        top : 0;
        width: 100%;
    }
    #container{
        margin-top: 120px;
    }
     .hide{
         display: none;
     }
    .cart__wrap{
        position: relative;
        width: 100px;
    }
    .search-cart__quantityNotice{
        right: 29px;
    }
    .search-cart__list{
        left: 0;
        width: 100%;
      
    }
    .search-cart__list::after{
        display: none;
    }
    .header__sort-bar{
        display: flex;
    }
    .app-content {
        padding-top: 20px;
    }
    .mobile-category__list{
        display : flex;
    }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width : 1023px){
     .hide-tablet{
         display: none;
     }
     .search-cart__list {
        padding : 0 calc((100% - 644px)/2);
    }
    .paginationLink{
        min-width: 40px;
    }
}
/* Mobile */
@media screen and (max-width:739px) {
   
    .app-content{
        margin: 0 4px;
    }
    .search {
        justify-content: space-between;
        padding : 0 20px;
    }
    .hide-mobile{
        display: none;
    }
    .search-logo__img{
        width : unset;
    }
    .search-cart{
        width: unset;
    }
    .cart__wrap{
        width: unset;
    }
    .search-cart__quantityNotice {
        right: -6px;
    }
    .header__logo-link{
        display : block;
        line-height: 0;
    }
    
    .search-bar{
        position : fixed;
        top : 86px;
        left: 0;
        right: 0;
        padding : 0 16px;
        height : 46px;
        z-index: 1;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        animation : in-search linear 0.05s;
        display: none;
    }
    .search__mobile{
        display: block;
    }
    #mobile-search-checked:checked ~ .search-bar{
        display: flex;
    }
    @keyframes in-search {
        from{
            top : calc(86px/2);
            opacity: 0;
        }
        to {
            opacity: 1;
            top : 86px;
        }
    }
    .search-bar__search-history {
        position: fixed;
        top : 130px;
        left: 0;
        padding: 0 20px;
        width : 100%;
    }
    .paginationLink{
        min-width: 13px;
    }
    .footer_content{
       
        padding : 10px 32px;
       
    }
    .search-logo__img {
        height : 45px;
    }
}